.menu-section {
  background-color: #388cd1;
  .container {
    display: flex;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 54px;
  margin: 0;
  padding: 0;
}

.menu__item {
  padding: 0;
  list-style: none;
}

.menu__link {
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
}
