//begin gallery
.gallery
  .container
    h2.title Галерея

    //begin gallery__slider
    .gallery__slider
      .gallery__slide
        img(src="assets/img/gallery.jpg" alt="picture")
      .gallery__slide
        img(src="assets/img/gallery.jpg" alt="picture")
      .gallery__slide
        img(src="assets/img/gallery.jpg" alt="picture")
      .gallery__slide
        img(src="assets/img/gallery.jpg" alt="picture")
    //end gallery__slider
//end gallery