//begin guaranty
.guaranty
  .container
    h2.title Гарантия чистоты
    p Компания «Аккурат-Сервис» оказывает клининговые услуги в СПб и Ленинградской области. Мы выполняем различные виды работ – от уборки помещений до очистки территорий от снега. В штате компании работают профессионалы, которые одинаково хорошо справятся с послестроительной уборкой и с очищением деликатных поверхностей.
    p Компании «Аккурат-Сервис» предлагает выгодные цены на клининговые услуги в Санкт-Петербурге. Сотрудничество осуществляется с юридическими и физическими лицами. Мы гарантируем прозрачную ценовую политику, соблюдение сроков и отличный результат.
//end guaranty