mixin how-it-work__item(numb)
  .how-it-work__item
    .how-it-work__top
      span.how-it-work__numb #{numb}
      .how-it-work__icon
        +svg('star')
    span.how-it-work__text В штате компании работают профессионалы, которые одинаково хорошо справятся с послестроительной уборкой и с очищением поверхностей.

//begin how-it-work
.how-it-work
  .container
    h2.title Как мы работаем

    //begin how-it-work__row
    .how-it-work__row
      +how-it-work__item('1')
      +how-it-work__item('2')
      +how-it-work__item('3')
      +how-it-work__item('4')
    //end how-it-work__row
//end how-it-work