//begin map
.map#map
  script(async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad54473700f65f168b82da4671101e9d312cc3132c3c9f4240c86d59c2fc6456c&width=100%25&height=370&lang=ru_UA&scroll=true')
//end map