//begin order
.order.order--second
  .container
    .order__item
      h2.order__title Закажите уборку прямо сейчас
      h3.order__subtitle и получите скидку до 30%!
      .order__form
        include ../elements/form-order
//end order