//begin partners
.partners
  .container
    h2.title Партнеры

    //begin partners__slider
    .partners__slider
      .partners__slide
        img(src="assets/img/partners.jpg" alt="picture")
      .partners__slide
        img(src="assets/img/partners.jpg" alt="picture")
      .partners__slide
        img(src="assets/img/partners.jpg" alt="picture")
      .partners__slide
        img(src="assets/img/partners.jpg" alt="picture")
      .partners__slide
        img(src="assets/img/partners.jpg" alt="picture")
      .partners__slide
        img(src="assets/img/partners.jpg" alt="picture")
    //end partners__slider
//end partners