//begin top
.top
  .container
    h2.top__title
      |Клининговые услуги
      br
      |в Санкт-Петербурге
    h3.top__subtitle Лучшее качество по выгодной цене

    .top__form
      include ../elements/form-order
//end top