//begin we-use
.we-use
  .container
    h2.title Используем в работе
    //begin we-use__row
    .we-use__row
      //begin we-use__item
      .we-use__item
        h3.we-use__title Уборочную технику
        span В штате компании работают профессионалы, которые одинаково хорошо справятся с послестроительной уборкой и с очищением поверхностей.
        span В штате компании работают профессионалы, которые одинаково хорошо справятся с послестроительной уборкой и с очищением поверхностей.
      //end we-use__item

      //begin we-use__card
      .we-use__card(style='background-image:url("assets/img/we-use-01.jpg");')
        .we-use__text
          span Предлагаем Вашему вниманию моющие средства Швейцарской компании Pramol
          span Моющие средства должны чистить, быть экологичными, биоразлагаемыми, недорогими, готовыми  решать задачи, которые перед ними поставлены.
          span Швейцарское качество! Проверено, работает! Не верите, тогда позовите нас и мы приедем к вам!
      //end we-use__card
      //begin we-use__card
      .we-use__card(style='background-image:url("assets/img/we-use-01.jpg");')
        .we-use__text
          span Предлагаем Вашему вниманию моющие средства Швейцарской компании Pramol
          span Моющие средства должны чистить, быть экологичными, биоразлагаемыми, недорогими, готовыми  решать задачи, которые перед ними поставлены.
          span Швейцарское качество! Проверено, работает! Не верите, тогда позовите нас и мы приедем к вам!
      //end we-use__card
      //begin we-use__card
      .we-use__card(style='background-image:url("assets/img/we-use-02.jpg");')
        .we-use__text
          span Предлагаем Вашему вниманию моющие средства Швейцарской компании Pramol
          span Моющие средства должны чистить, быть экологичными, биоразлагаемыми, недорогими, готовыми  решать задачи, которые перед ними поставлены.
          span Швейцарское качество! Проверено, работает! Не верите, тогда позовите нас и мы приедем к вам!
      //end we-use__card
    //end we-use__row

    //begin we-use__row
    .we-use__row
      //begin we-use__item
      .we-use__item
        h3.we-use__title Химические средства
        span В штате компании работают профессионалы, которые одинаково хорошо справятся с послестроительной уборкой и с очищением поверхностей.
        span В штате компании работают профессионалы, которые одинаково хорошо справятся с послестроительной уборкой и с очищением поверхностей.
      //end we-use__item

      //begin we-use__card
      .we-use__card(style='background-image:url("assets/img/we-use-03.jpg");')
        .we-use__text
          span Предлагаем Вашему вниманию моющие средства Швейцарской компании Pramol
          span Моющие средства должны чистить, быть экологичными, биоразлагаемыми, недорогими, готовыми  решать задачи, которые перед ними поставлены.
          span Швейцарское качество! Проверено, работает! Не верите, тогда позовите нас и мы приедем к вам!
      //end we-use__card
      //begin we-use__card
      .we-use__card(style='background-image:url("assets/img/we-use-04.jpg");')
        .we-use__text
          span Предлагаем Вашему вниманию моющие средства Швейцарской компании Pramol
          span Моющие средства должны чистить, быть экологичными, биоразлагаемыми, недорогими, готовыми  решать задачи, которые перед ними поставлены.
          span Швейцарское качество! Проверено, работает! Не верите, тогда позовите нас и мы приедем к вам!
      //end we-use__card
      //begin we-use__card
      .we-use__card(style='background-image:url("assets/img/we-use-03.jpg");')
        .we-use__text
          span Предлагаем Вашему вниманию моющие средства Швейцарской компании Pramol
          span Моющие средства должны чистить, быть экологичными, биоразлагаемыми, недорогими, готовыми  решать задачи, которые перед ними поставлены.
          span Швейцарское качество! Проверено, работает! Не верите, тогда позовите нас и мы приедем к вам!
      //end we-use__card
    //end we-use__row

//end we-use