//begin form-order
form.form-order
  input(placeholder='+7 ( _ _ _ ) _ _ _ - _ _ - _ _').form-order__input.phone-mask
  .form-order__btn
    span Заказать уборку
    input(type='submit')
//end form-order