extends ../_template

block variables
  - var title       = 'Аккурат Сервис'
  - var description = 'Аккурат Сервис'
  - var ogtitle     = 'Аккурат Сервис'

block content
  .main-wrap
    include ../sections/header

    //begin content
    .main
      include ../sections/menu
      include ../sections/top
    //end content

    include ../sections/footer
