extends ../_template

block variables
  - var title       = 'Аккурат Сервис'
  - var description = 'Аккурат Сервис'
  - var ogtitle     = 'Аккурат Сервис'

block content
  .main-wrap
    include ../sections/header

    //begin content
    .main
      include ../sections/menu
      include ../sections/top
      include ../sections/about
      include ../sections/options
      include ../sections/guaranty
      include ../sections/how-it-work
      include ../sections/order-first
      include ../sections/we-use
      include ../sections/advantages


      include ../sections/order-second
      include ../sections/map
    //end content

    include ../sections/footer
